language: node_js
node_js:
  - "0.11"
  - "0.12"
  - "iojs"
matrix:
  fast_finish: true
script: "npm run-script test-travis"
after_script: "npm install coveralls && cat ./coverage/lcov.info | coveralls"
